# Default ignored files
/shelf/
/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml

/*
!/config
!/config-overrides
!/kubejs
!/defaultconfigs
!/resourcepacks/
!/.gitignore
!/.gitattributes
!/manifest.json
!/.github
!/ldlib
!/mods
mods/.index


#



fancymenu_data
config/blockswap/known_states
config/fml.toml
config/jei/world/local/*
config/sidebar_buttons.json
config/oculus.properties
config/modernfix-mixins.properties
config/immediatelyfast.json
config/ftbbackups2.json
config/voicechat/username-cache.json
config/minihud/*
config/embeddium-fingerprint.json
config/defaultworldtype/world-presets.txt
config/jecalculation/record.json
config/jade/sort-order.json
config/jei*
config/embeddium++.toml
config/embeddium++.toml
config/emi.css
config\darkmodeeverywhereshaders.json
config\darkmodeeverywhereshaders.toml
config/worldedit
config/ichunutil/themes
config/everycomp-hazardous.properties
config/powah.json5
